<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product App</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">
      <div class="product-image">
          <img v-bind:src="image">
        </div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <p>{{ description }}</p>
          <p v-show="inStock">In Stock</p>
          <span v-if="onSale">On Sale!</span>
          <!-- <p v-else-if="inventory <= 10 && inventory > 0">Almost Sold Out!</p> -->
          <p v-else v-bind:class="{ 'out-of-stock': !inStock }">Out of Stock</p>
          <ul>
            <li v-for="detail in details" v-bind:key="detail">{{ detail }}</li>
          </ul>

          <div v-for="variant in variants" 
              v-bind:key="variant.variantId"
              class="color-box"
              v-bind:style="{ backgroundColor: variant.variantColor }"
              v-on:mouseover="updateProduct(variant.variantImage)">
          </div>

          <ul>
            <li v-for="size in sizes" v-bind:key="size">{{ size }}</li>
          </ul>

          <!-- wherever you place the v-for directive, that will be the element that will be the element the loop will re-create -->

          <div class="buttons-container">
            <button v-on:click="addToCart"
                    v-bind:disabled="!inStock"
                    v-bind:class="{ disabledButton: !inStock }">
                    Add To cart
            </button>
            <button @click="removeFromCart">Remove From Cart</button>
            <button class="cart">Cart({{ cart }})</button>
          </div>

          <br>
          <br>
          <a v-bind:href="link">Click Here For More Information</a>
        </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>